/* You can add global styles to this file, and also import other style files */
$textbox-default-width: 100%;
$textarea-default-width: 100%;
$input-default-width: 100%;
@import "~@progress/kendo-theme-default/scss/all";